.ExperienceItemContainer {
  min-width: 80em;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}
.Message {
  font-size: 2em;
  font-style: italic;
  text-align: center;
  margin-top: 0.5em;
}

@media (min-width: 750px) {
  .ExperienceItemContainer {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-columns: 20em 20em 20em 20em;
    grid-column-gap: 0px;
  }
  .Message {
    margin-top: 2em;
  }
}

@media (max-width: 750px) {
  .ExperienceItemContainer {
    min-width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
