#buttons {
  visibility: hidden;
}

@media (max-width: 768px) {
  #home {
    margin-top: 200px;
  }
  #lowerbox {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.5em;
    color: white;
  }
  #buttons {
    visibility: hidden;
    max-height: 40px;
  }
}
@media (min-width: 768px) {
  #home {
    min-width: 1000px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  #buttons {
    visibility: visible;
    display: flex;
    grid-row: 2;
    grid-column: 2;
  }
  #typingtitle {
    display: grid;
    padding-left: 0px;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10em 7em;
    grid-column-gap: 120px;
    grid-row-gap: 2.5em;
    margin-top: 7em;
  }

  #profilecontainer {
    float: left;
    max-width: 17em;
    height: 20em;
    grid-column: 1;
    grid-row: "1 / span 2";
  }
  .Buttonbar {
    background-color: #23104a;
    margin-right: 1.7em;
    height: 3.6em;
    width: 10em;
    box-shadow: 0px 0px 10px 2px #f932f5;
    border-style: none;
  }
  #lowerbox {
    height: 7em;
    margin-top: 1.6em;
    font-size: 1.3em;
    text-align: center;
    color: white;
    margin-top: 70px;
  }
}

.Buttonbar span {
  color: #eeeeee;
}

.Buttonbar:hover {
  background-color: black;
}
.Buttonbar:focus {
  background-color: #560764;
}
#lowerbox {
  text-align: center;
  color: white;
}
