.Interests {
  min-width: 93%;
  max-width: 93%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.InterestsContainer {
  min-width: 21%;
  max-width: 21%;
  min-height: 250px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 30px;
  margin-top: 5px;
  max-width: 29.3%;
  text-align: center;
  background-color: #23104a;
}

.InterestsTitle {
  min-height: 60px;
  background-color: white;
  color: #23104a;
}

.InterestsList {
  padding-top: 15px;
  color: white;
}

.InterestsTitle p {
  font-size: 25px;
  padding-top: 10px;
}

.InterestsList p {
  font-size: 18px;
}

@media (max-width: 768px) {
  .InterestsContainer {
    min-width: 100%;
    max-width: 100%;
    min-height: 250px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 30px;
    margin-top: 5px;
    max-width: 29.3%;
    text-align: center;
    background-color: #23104a;
  }
}
