@media (min-width: 768px) {
  .outerContentItemDiv {
    text-align: center;
  }

  .imageDiv {
    display: inline-block;
    max-width: 10em;
  }
}

@media (max-width: 775px) {
}

.outerContentItemDiv {
  z-index: -5;
}
