@media (min-width: 768px) {
  #ContentRow {
    display: grid;
    margin-left: 4%;
    grid-auto-columns: 30% 30% 30%;
    grid-auto-rows: 6em auto;
    grid-column-gap: "2.5%";
    margin-bottom: 1em;
  }
  #ContentTitle {
    grid-row: "1 / span 3";
  }
}

@media (max-width: 775px) {
}
