@media (min-width: 750px) {
  .ExperienceItem {
    height: 14em;
    border-style: solid;
    border-color: #560764;
    background: white;
    margin-bottom: 2em;
  }

  .ImageContainer {
    height: 9em;
    margin-top: 0.8em;
  }

  .SelectedGrid {
    display: grid;
    grid-auto-columns: 10em auto auto;
    grid-column-gap: 1.5em;
  }

  .SelectedGrid .ImageContainer {
    grid-column: 1;
    margin-left: 1em;
    margin-right: 1em;
  }

  .SelectedGrid .TitleDiv {
    grid-column: 2;
    margin-left: 1em;
  }

  .SelectedGrid .DescriptionDiv {
    grid-column: 3;
    padding-left: 2em;
    padding-right: 2em;
  }

  .Position {
    font-size: 2em;
    text-emphasis: bolder;
    margin-bottom: 0px;
  }

  .Organization {
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 0px;
  }

  .Location {
    font-size: 1.5em;
    font-style: italic;
  }

  .DateString {
    margin-top: 1em;
    font-size: 1.5em;
  }

  .Label {
    font-size: 2em;
    margin-bottom: 0;
  }

  .Description {
    font-size: 1.2em;
    white-space: pre-wrap;
  }
}

@media (max-width: 775px) {
  .UnselectedPosition {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: auto;
  }
  .ImageContainer {
    height: 5em;
    margin-top: 0.9em;
    margin-left: 0.5em;
    float: left;
  }

  .ExperienceItem {
    height: 7em;
    border-style: solid;
    border-color: #560764;
    background: white;
    min-width: 100%;
  }

  .Position {
    font-size: 1.5em;
    margin-bottom: 0;
    font-weight: bold;
  }

  .Organization {
    font-size: 1.2em;
    margin-bottom: 0px;
    margin-left: 0;
  }

  .Location {
    font-size: 1.2em;
    font-style: italic;
    margin-left: 0;
  }

  .DateString {
    margin-top: 1em;
    font-size: 1.5em;
  }

  .Label {
    font-size: 1.5em;
  }

  .DescriptionDiv {
    margin-top: 1em;
    padding-left: 0px;
    text-align: left;
  }

  .Description {
    font-size: 1.2em;
    white-space: pre-wrap;
  }
}
