.HeaderButton {
  background-color: #560764;
  border: none;
  height: 100%;
  min-width: 10em;
  font-size: 1.2em;
  padding: 0 0 0 0;
}

.HeaderButton p {
  color: #eeeeee;
}

.HeaderButton p :hover {
  color: grey;
}

.HeaderButton :hover {
  background-color: black;
}

.HeaderButton :focus {
  outline: 0;
}
