.HeaderButton {
  background-color: #23104a;
  border: none;
  height: 100%;
  min-width: 10em;
  font-size: 0.8em;
  padding: 0;
  color: #eeeeee;
}

.HeaderButton:hover {
  background-color: black;
}

.HeaderButton:focus {
  outline: 0;
}
