@media (min-width: 768px) {
  #profimgcontainer {
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
    margin-top: 18px;
    float: left;
  }
  .Page {
    margin-top: 1em;
  }

  #profimg {
    min-width: 100%;
    max-width: 100%;
  }

  .NavBar {
    position: fixed;
    top: 0;
    height: 85px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0px 0px 10px 10px black;
  }

  #appcontainer {
    margin-top: 140px;
  }

  .PageTitle {
    margin-bottom: 1em;
    margin-left: 2em;
  }
}

@media (max-width: 775px) {
  #appcontainer {
    text-align: center;
    width: 100%;
    margin: 0 0 0 0;
  }
  .Page {
    margin-top: 200px;
  }
  .NavBar {
    margin-bottom: 2em;
    width: 100%;
  }
  #footer {
    visibility: hidden;
  }
  .PageTitle {
    margin-bottom: 1.5em;
  }
  .NavBar {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.NavBar {
  background: #23104a;
  z-index: 10;
}

#brand {
  color: #eeeeee;
  cursor: pointer;
}

#footer p {
  color: #eeeeee;
}

#title {
  color: #eeeeee;
}

.PageTitle {
  color: #eeeeee;
}

#phoneImgContainer {
  max-width: 70px;
}

#phoneImg {
  max-width: 100%;
}

#phoneTitle {
  display: flex;
  color: #eeeeee;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

#phoneTitle p {
  padding-top: 18px;
  padding-left: 15px;
  font-size: 20px;
}

#buttonContainer {
  background-color: #23104a;
  padding-top: 10px;
  padding-bottom: 10px;
}
