@media (min-width: 768px) {
  #footer {
    width: 100%;
    visibility: hidden;
    background-color: #560764;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 1.8em;
  }

  .NavBar {
    position: fixed;
    top: 0;
    height: 4em;
    width: 100%;
    display: flex;
  }

  #appcontainer {
    margin-top: 6em;
  }

  .PageTitle {
    margin-bottom: 1em;
    margin-left: 2em;
  }
}

@media (max-width: 775px) {
  #appcontainer {
    text-align: center;
    width: 100%;
    margin: 0 0 0 0;
  }
  .NavBar {
    margin-bottom: 2em;
    width: 100%;
  }
  #footer {
    visibility: hidden;
  }
  .PageTitle {
    margin-bottom: 1.5em;
  }
}

.NavBar {
  background: #560764;
}

#brand {
  color: #eeeeee;
  cursor: pointer;
}

.Page {
  margin-top: 1em;
}

#appcontainer {
  font-family: "Inconsolata", monospace;
}

#footer p {
  color: #eeeeee;
}

#title {
  color: #eeeeee;
}
