.NavBar {
  background: #560764;
}

#brand {
  color: #eeeeee;
}

.Page {
  margin-top: 50px;
}

#appcontainer {
  font-family: "Inconsolata", monospace;
}

#footer {
  width: 100%;
  background-color: #560764;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20px;
}

#footer p {
  color: #eeeeee;
}

#title {
  color: #eeeeee;
}
